In [1]:
import pandas as pd

In [7]:
# Modify here: Outputs from EnergyPlus; Match the variables.cfg file.
obs_name = ["Outdoor Temp.", "Outdoor RH", "Wind Speed", "Wind Direction", "Diff. Solar Rad.", "Direct Solar Rad.", "Htg SP", "Clg SP", "Indoor Temp.", "Indoor Temp. Setpoint", "PPD", "Occupancy Flag", "Coil Power", "HVAC Power", "Sys In Temp.", "Sys In Mdot", "OA Temp.", "OA Mdot", "MA Temp.", "MA Mdot", "Sys Out Temp.", "Sys Out Mdot"]

# Modify here: Change based on the specific control problem
state_name = ["Indoor Temp."]
dist_name = ["Outdoor Temp.", "Outdoor RH", "Wind Speed", "Wind Direction", "Direct Solar Rad.", "Occupancy Flag"]
# Caveat: The RL agent controls the difference between Supply Air Temp. and Mixed Air Temp., i.e. the amount of heating from the heating coil. But, the E+ expects Supply Air Temp. Setpoint.
ctrl_name = ["SA Temp Setpoint"]
target_name = ["Indoor Temp. Setpoint"]

obs = pd.read_pickle("results/Dist-TMY3.pkl")
target = obs[target_name]
disturbance = obs[dist_name]

In [9]:

perf = pd.read_pickle("results/perf_rl_obs.pkl")
perf.agg([min, max, 'mean','quantile'])

AttributeError: 'quantile(0.75)' is not a valid function for 'Series' object

In [11]:
perf.describe(percentiles=[0, 0.25, 0.5, 0.75, 0.95, 1])

,Outdoor Temp.,Outdoor RH,Wind Speed,Wind Direction,Direct Solar Rad.,Htg SP,Indoor Temp.,Indoor Temp. Setpoint,PPD,Occupancy Flag,Coil Power,MA Temp.,Sys Out Temp.
count,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000,8641.000000
mean,-7.677017,70.454751,5.634446,200.230182,129.583758,16.603726,14.584186,16.841199,63.262723,0.416618,3947.060649,10.466259,12.488668
std,6.119906,14.622107,2.952376,91.358403,248.827554,4.135768,5.797728,4.782362,38.654488,0.493027,4638.499140,5.184640,5.698253
min,-24.100000,35.000000,0.000000,0.000000,0.000000,12.800000,2.323023,12.800000,0.000000,0.000000,0.000000,-2.180475,-1.253531
0%,-24.100000,35.000000,0.000000,0.000000,0.000000,12.800000,2.323023,12.800000,0.000000,0.000000,0.000000,-2.180475,-1.253531
25%,-12.000000,60.000000,3.350000,140.000000,0.000000,12.800000,9.796087,12.800000,16.537373,0.000000,0.000000,6.389352,7.973844
50%,-8.000000,70.000000,5.250000,210.000000,0.000000,12.800000,13.752573,12.800000,85.119611,0.000000,316.064947,10.379383,12.268092
75%,-3.000000,81.000000,7.700000,280.000000,115.000000,21.100000,20.346545,22.500000,99.164659,1.000000,9647.748357,14.801347,17.654506
95%,2.225000,93.250000,10.925000,322.500000,766.750000,21.100000,23.283088,22.500000,99.996322,1.000000,10613.943465,18.631051,21.121060
100%,9.000000,100.000000,16.000000,357.500000,977.000000,21.100000,25.891325,22.500000,100.000000,1.000000,10613.943465,21.461037,24.201282
max,9.000000,100.000000,16.000000,357.500000,977.000000,21.100000,25.891325,22.500000,100.000000,1.000000,10613.943465,21.461037,24.201282

In [8]:
disturbance

,Outdoor Temp.,Outdoor RH,Wind Speed,Wind Direction,Direct Solar Rad.,Occupancy Flag
2017-01-01 00:00:00,0.000,95.00,4.1,290.0,0.0,0.0
2017-01-01 00:15:00,1.800,95.25,4.1,265.0,0.0,0.0
2017-01-01 00:30:00,3.600,95.50,4.1,240.0,0.0,0.0
2017-01-01 00:45:00,5.400,95.75,4.1,215.0,0.0,0.0
2017-01-01 01:00:00,7.200,96.00,4.1,190.0,0.0,0.0
...,...,...,...,...,...,...
2017-04-01 23:00:00,2.200,72.00,2.1,290.0,0.0,0.0
2017-04-01 23:15:00,1.925,74.25,2.1,282.5,0.0,0.0
2017-04-01 23:30:00,1.650,76.50,2.1,275.0,0.0,0.0
2017-04-01 23:45:00,1.375,78.75,2.1,267.5,0.0,0.0
2017-04-02 00:00:00,1.100,81.00,2.1,260.0,0.0,0.0

In [9]:
obs

,Outdoor Temp.,Outdoor RH,Wind Speed,Wind Direction,Diff. Solar Rad.,Direct Solar Rad.,Indoor Temp. Setpoint,Occupancy Flag,Reward
2017-01-01 00:00:00,0.000,95.00,4.1,290.0,0.0,0.0,12.8,0.0,-0.411413
2017-01-01 00:15:00,1.800,95.25,4.1,265.0,0.0,0.0,12.8,0.0,-0.411380
2017-01-01 00:30:00,3.600,95.50,4.1,240.0,0.0,0.0,12.8,0.0,-0.409830
2017-01-01 00:45:00,5.400,95.75,4.1,215.0,0.0,0.0,12.8,0.0,-0.423097
2017-01-01 01:00:00,7.200,96.00,4.1,190.0,0.0,0.0,12.8,0.0,-0.253581
...,...,...,...,...,...,...,...,...,...
2017-04-01 23:00:00,2.200,72.00,2.1,290.0,0.0,0.0,12.8,0.0,-0.780458
2017-04-01 23:15:00,1.925,74.25,2.1,282.5,0.0,0.0,12.8,0.0,-0.735665
2017-04-01 23:30:00,1.650,76.50,2.1,275.0,0.0,0.0,12.8,0.0,-0.694515
2017-04-01 23:45:00,1.375,78.75,2.1,267.5,0.0,0.0,12.8,0.0,-0.654738
2017-04-02 00:00:00,1.100,81.00,2.1,260.0,0.0,0.0,12.8,0.0,-0.616979

In [2]:
import pickle

req = pickle.load(open( "results/req-1.p", "rb" ))
req

{'date': '2020-11-04 00:00:00',
 'disturbances': [{'Htg SP': 0,
   'Indoor Temp. Setpoint': 12.8,
   'Occupancy Flag': 0,
   'PPD': 0,
   'Coil Power': 0,
   'MA Temp.': 0,
   'Sys Out Temp.': 0,
   'dt': '2020-11-04 00:00:00',
   'Outdoor Temp.': 0,
   'Outdoor RH': 95,
   'Wind Speed': 4.1,
   'Wind Direction': 290,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 00:15:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 1.8,
   'Outdoor RH': 95.25,
   'Wind Speed': 4.1,
   'Wind Direction': 265,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 00:30:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 0,
   'Outdoor RH': 95,
   'Wind Speed': 4.1,
   'Wind Direction': 290,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 00:45:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 1.8,
   'Outdoor RH': 95.25,
   'Wind Speed': 4.1,
   'Wind Direction': 265,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 01:00:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 0,
   'Outdoor RH': 95,
   'Wind Speed': 4.1,
   'Wind Direction': 290,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 01:15:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 1.8,
   'Outdoor RH': 95.25,
   'Wind Speed': 4.1,
   'Wind Direction': 265,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 01:30:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 0,
   'Outdoor RH': 95,
   'Wind Speed': 4.1,
   'Wind Direction': 290,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 01:45:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 1.8,
   'Outdoor RH': 95.25,
   'Wind Speed': 4.1,
   'Wind Direction': 265,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 02:00:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 0,
   'Outdoor RH': 95,
   'Wind Speed': 4.1,
   'Wind Direction': 290,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 02:15:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 1.8,
   'Outdoor RH': 95.25,
   'Wind Speed': 4.1,
   'Wind Direction': 265,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 02:30:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 0,
   'Outdoor RH': 95,
   'Wind Speed': 4.1,
   'Wind Direction': 290,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22},
  {'dt': '2020-11-04 02:45:00',
   'Occupancy Flag': 0,
   'Outdoor Temp.': 1.8,
   'Outdoor RH': 95.25,
   'Wind Speed': 4.1,
   'Wind Direction': 265,
   'Direct Solar Rad.': 0,
   'Indoor Temp.': 22}]}

In [10]:
obs = pd.read_pickle("results/perf_rl_obs.pkl")
obs

,Outdoor Temp.,Outdoor RH,Wind Speed,Wind Direction,Direct Solar Rad.,Htg SP,Indoor Temp.,Indoor Temp. Setpoint,PPD,Occupancy Flag,Coil Power,MA Temp.,Sys Out Temp.
2005-01-01 00:00:00,-3.00,92.00,5.700,140.0,0.0,12.8,11.104538,12.8,0.000000,0.0,1237.830834,8.559789,9.662631
2005-01-01 00:15:00,-3.00,92.00,5.950,107.5,0.0,12.8,11.104538,12.8,0.000000,0.0,0.000000,8.525263,8.896378
2005-01-01 00:30:00,-3.00,92.00,6.200,75.0,0.0,12.8,10.945506,12.8,99.928153,0.0,0.000000,8.492557,8.863671
2005-01-01 00:45:00,-3.00,92.00,6.450,42.5,0.0,12.8,10.809761,12.8,99.943497,0.0,0.000000,8.421369,8.792482
2005-01-01 01:00:00,-3.00,92.00,6.700,10.0,0.0,12.8,10.713844,12.8,99.954614,0.0,0.000000,8.339376,8.710489
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-03-31 23:00:00,-5.80,84.00,2.300,170.0,0.0,12.8,13.411157,12.8,89.464295,0.0,0.000000,10.982917,11.353946
2005-03-31 23:15:00,-6.55,84.75,2.425,165.0,0.0,12.8,13.082538,12.8,91.467325,0.0,0.000000,10.547411,10.918496
2005-03-31 23:30:00,-7.30,85.50,2.550,160.0,0.0,12.8,12.742195,12.8,93.215058,0.0,0.000000,10.138475,10.509616
2005-03-31 23:45:00,-8.05,86.25,2.675,155.0,0.0,12.8,12.403938,12.8,94.726014,0.0,0.000000,9.704831,10.076030
2005-04-01 00:00:00,-8.80,87.00,2.800,150.0,0.0,12.8,12.058195,12.8,95.974505,0.0,0.000000,9.299121,9.670377

In [2]:
import pandas as pd

obs = pd.read_pickle("results/Dist-TMY2.pkl")

In [3]:
obs

,Outdoor Temp.,Outdoor RH,Wind Speed,Wind Direction,Direct Solar Rad.,Indoor Temp. Setpoint,Occupancy Flag
2005-01-01 00:00:00,-3.0,92.0,5.70,140.0,0.0,12.8,0.0
2005-01-01 00:15:00,-3.0,92.0,5.95,107.5,0.0,12.8,0.0
2005-01-01 00:30:00,-3.0,92.0,6.20,75.0,0.0,12.8,0.0
2005-01-01 00:45:00,-3.0,92.0,6.45,42.5,0.0,12.8,0.0
2005-01-01 01:00:00,-3.0,92.0,6.70,10.0,0.0,12.8,0.0
...,...,...,...,...,...,...,...
2005-04-01 23:00:00,-7.0,77.0,2.60,120.0,0.0,12.8,0.0
2005-04-01 23:15:00,-6.0,74.0,3.10,130.0,0.0,12.8,0.0
2005-04-01 23:30:00,-5.0,71.0,3.60,140.0,0.0,12.8,0.0
2005-04-01 23:45:00,-4.0,68.0,4.10,150.0,0.0,12.8,0.0
2005-04-02 00:00:00,-3.0,65.0,4.60,160.0,0.0,12.8,0.0

In [ ]:
obs_name = [
    "Outdoor Temp.", "Outdoor RH", "Wind Speed", "Wind Direction",
    "Diff. Solar Rad.", "Direct Solar Rad.", "Htg SP", "Clg SP",
    "Indoor Temp.", "Indoor Temp. Setpoint", "PPD", "Occupancy Flag",
    "Coil Power", "HVAC Power", "Sys In Temp.", "Sys In Mdot", "OA Temp.",
    "OA Mdot", "MA Temp.", "MA Mdot", "Sys Out Temp.", "Sys Out Mdot"
]
obs_dict = make_dict(obs_name, obs)

obs_dict