In [1]:
import pandas as pd

In [2]:
# Modify here: Outputs from EnergyPlus; Match the variables.cfg file.
obs_name = ["Outdoor Temp.", "Outdoor RH", "Wind Speed", "Wind Direction", "Diff. Solar Rad.", "Direct Solar Rad.", "Htg SP", "Clg SP", "Indoor Temp.", "Indoor Temp. Setpoint", "PPD", "Occupancy Flag", "Coil Power", "HVAC Power", "Sys In Temp.", "Sys In Mdot", "OA Temp.", "OA Mdot", "MA Temp.", "MA Mdot", "Sys Out Temp.", "Sys Out Mdot"]

# Modify here: Change based on the specific control problem
state_name = ["Indoor Temp."]
dist_name = ["Outdoor Temp.", "Outdoor RH", "Wind Speed", "Wind Direction", "Direct Solar Rad.", "Occupancy Flag"]
# Caveat: The RL agent controls the difference between Supply Air Temp. and Mixed Air Temp., i.e. the amount of heating from the heating coil. But, the E+ expects Supply Air Temp. Setpoint.
ctrl_name = ["SA Temp Setpoint"]
target_name = ["Indoor Temp. Setpoint"]

obs = pd.read_pickle("results/Dist-TMY2.pkl")
target = obs[target_name]
disturbance = obs[dist_name]

In [3]:
disturbance

,Outdoor Temp.,Outdoor RH,Wind Speed,Wind Direction,Direct Solar Rad.,Occupancy Flag
2005-01-01 00:00:00,-3.0,92.0,5.70,140.0,0.0,0.0
2005-01-01 00:15:00,-3.0,92.0,5.95,107.5,0.0,0.0
2005-01-01 00:30:00,-3.0,92.0,6.20,75.0,0.0,0.0
2005-01-01 00:45:00,-3.0,92.0,6.45,42.5,0.0,0.0
2005-01-01 01:00:00,-3.0,92.0,6.70,10.0,0.0,0.0
...,...,...,...,...,...,...
2005-04-01 23:00:00,-7.0,77.0,2.60,120.0,0.0,0.0
2005-04-01 23:15:00,-6.0,74.0,3.10,130.0,0.0,0.0
2005-04-01 23:30:00,-5.0,71.0,3.60,140.0,0.0,0.0
2005-04-01 23:45:00,-4.0,68.0,4.10,150.0,0.0,0.0
2005-04-02 00:00:00,-3.0,65.0,4.60,160.0,0.0,0.0